
<div class="ui grid">
  <% @trips.each do |trip| %>
  <div class="four wide column">
    <div class="ui horizontal segments" style="padding: 10px;">
        <i class="list ul icon"></i>
        <div class="ui segment" style="padding: 27px;">
        <h2 ><%= link_to "#{trip.name}", trip %></h2>
        <h2><%= link_to "edit", edit_trip_path(trip) %></h2>
        <h2><%= link_to "new", new_trip_path(trip) %></h2>
        <h2><%= link_to "delete", trip, method: :delete %></h2>
        </div>
    </div>
  </div>
  <% end %>
</div>