@import 'semantic-ui';
@import 'trips';

// $images: ('./SFBg.png');

// $img: nth($images, random(length($images)));
// body {

// }

body {
  background: url('SFBg.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: -15px;
}