<div class="ui grid">
  <% @trip.locations.each do |location| %>
  <div class="four wide column">
    <div class="ui horizontal segments" style="padding: 10px;">
        <i class="list ul icon"></i>
        <div class="ui segment" style="padding: 27px;">
        <h2 ><%= link_to "#{location.name}", location %></h2>
        <h2><%= link_to "edit", edit_location_path(location) %></h2>
        <h2><%= link_to "new", new_trip_location_path(@trip, location) %></h2>
        <h2><%= link_to "delete", trip_location_path(@trip, location), method: :delete %></h2>
        </div>
    </div>
  </div>
  <% end %>
</div>